header{
    text-align: center;
    font-size: 30px;
    color: rgb(48, 87, 8);
}
body{
    text-align: center;
}
h3{color: rgb(136, 33, 33);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
li{color: blue;
        margin-top: 20px;
    margin-bottom: 20px;
}

.container2 {
background-color: bisque;
border: 3px solid black;
border-radius: 3px;
width: 370px;
height: 130px;
margin: auto;
margin-bottom:20px ;
}

.container3{
background-color: rgb(250, 171, 75);
border: 3px solid black;
border-radius: 3px;
width: 1080px;
height: 160px;
display: flex;
justify-items: center;
align-items: center;
margin: auto;

}
.container4{
    background-color: rgb(250, 171, 75);
    border: 3px solid black;
    border-radius: 3px;
    width: 1080px;
    height: 150px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;

}
.container1{background-color: rgb(250, 171, 75);
    border: 3px solid black;
    border-radius: 3px;
    width: 1080px;
    height: 440px;
    margin: auto;

}
.flat{border: 3px solid;
    width: 500px;
    
}