*{
    margin: 0px;
    padding: 0px;
}
body{
margin: auto;
width: 960px;
height: 800px;
background-color: antiquewhite;
}
.firstClass h1{
    margin: auto;
    margin-top: 25px;
    width: 320px;
    height: 40px;
    background-color: aqua;
}
.h31{margin: auto;
    margin-top: 25px;
    width: 100px;
    background-color: green;
}

.flat{ margin: auto;
    margin-top: 25px;
    width: 500px;
    height: 400px;
}

.cultura{  margin: auto;
    margin-top: 50px;
    width: 960;
    height: 800;
}
